body {
  margin: 0;
}

.page-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content .form-v10-content {
  background: #fff;
  width: 1100px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 95px 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.page-content .form-v10-content .form-detail {
  position: relative;
  width: 100%;
  display: flex;
}
.page-content .form-v10-content .form-detail h2 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 34px;
  padding: 33px 50px 0px 60px;
}
.page-content .form-v10-content .form-detail h2 a {
  text-decoration: none;
  color: #0c06bd;
}
.page-content .form-v10-content .form-detail .form-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.page-content .form-v10-content .form-detail .form-left h2 {
  color: #2271dd;
}
.page-content .form-v10-content .form-detail .form-right {
  width: 100%;
  background: #4835d4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.page-content .form-v10-content .form-detail .form-right h2 {
  color: #fff;
}
.page-content .form-v10-content .form-detail .form-right .form-row {
  color: #fff;
}
.page-content .form-v10-content .form-detail .form-right .register {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  width: 180px;
  border: none;
  margin: 6px 0 50px;
  cursor: pointer;
  color: #333;
  font-weight: 700;
  font-size: 15px;
}
.page-content .form-v10-content .form-detail .form-right .register:hover {
  background: #ccc;
}
.page-content .form-v10-content .form-detail .form-group {
  display: flex;
}
.page-content .form-v10-content .form-detail .form-row {
  position: relative;
  margin-bottom: 24px;
  padding-left: 60px;
  padding-right: 50px;
}
.page-content .form-v10-content .form-detail select,
.page-content .form-v10-content .form-detail input {
  width: 100%;
  padding: 11.5px 15px;
  border: none;
  border-bottom: 0.5px solid grey;
  background: transparent;
  appearance: none;
  outline: none;
  font-size: 16px;
  color: #FFF;
}
.page-content .form-v10-content .form-detail .select-btn {
  position: absolute;
  top: 30%;
  right: 11.5%;
  font-size: 18px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .page-content .form-v10-content .form-detail .form-group {
    flex-direction: column;
  }
  .page-content .form-v10-content .form-detail .form-row {
    width: auto;
    padding: 0 50px 0 60px;
  }
  .page-content .form-v10-content .form-detail .select-btn {
    right: 15%;
  }
}
@media screen and (max-width: 767px) {
  .page-content .form-v10-content .form-detail {
    flex-direction: column;
  }
  .page-content .form-v10-content .form-detail .form-right {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .page-content .form-v10-content .form-detail .form-left {
    padding-bottom: 50px;
    color: #000 !important;
  }
}
@media screen and (max-width: 575px) {
  .page-content .form-v10-content .form-detail .form-group {
    flex-direction: column;
  }
  .page-content .form-v10-content .form-detail .form-row {
    width: auto;
    padding: 0 30px;
  }
  .page-content .form-v10-content .form-detail h2 {
    padding: 33px 30px 0;
  }
  .page-content .form-v10-content .form-detail .form-checkbox {
    padding: 0 30px;
  }
  .page-content .form-v10-content .form-detail .checkmark {
    left: 30px;
  }
  .page-content .form-v10-content .form-detail .form-right .form-row-last {
    padding-left: 0;
    text-align: center;
    margin: 44px 0 30px;
  }
}

span {
  color: orangered;
}

.form-left input[type=text] {
  color: #000 !important;
}
.form-left input[type=password] {
  color: #000 !important;
}

/*# sourceMappingURL=form.css.map */
