@charset "UTF-8";
html {
  font-family: "Marhey", "sans-serif";
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-left: 2%;
  margin-right: 2%;
}

.divNav a:link {
  color: #000;
}

nav a {
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: black;
}

.foodGrid {
  margin-left: 20%;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.foodContainer {
  border-radius: 3%;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  flex: 1;
  margin: 10px;
  font-family: "Marhey", "sans-serif";
}

.foodContainer img {
  transition: transform 0.5s ease;
  max-width: 200%;
  height: auto;
  display: block;
}

.foodContainer:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.adressText {
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.centeredText {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  padding: 22px;
}

.sidenav {
  margin-left: 2%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  font-family: "Marhey", "sans-serif";
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.6em;
  color: black;
  display: block;
}
.sidenav a img {
  float: left;
  width: 1.25em;
  margin-right: 5%;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Marhey", "sans-serif";
}

.filterIcons {
  width: 30%;
}

.menuContainer {
  transition: transform 0.5s ease;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  min-width: 400px;
  flex: 1;
  margin: 10px;
  font-family: "Marhey", "sans-serif";
  border: 1px solid rgba(11, 29, 24, 0.2);
}

.menuContainer:hover {
  transform: scale(1.05);
}

.menuContainer img {
  max-width: 35%;
  float: left;
  margin: 2%;
  border-radius: 10px;
}

.menuGrid {
  margin-left: 10%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.priceText {
  color: #000;
  text-align: center;
  font-size: 1.5em;
  clear: both;
}

.menuNameText {
  color: #000;
  font-size: 1.5em;
  padding: 5% 0 0 0;
  text-align: left;
}

.productsText {
  color: #000;
  font-size: 0.85em;
  padding: 2%;
  text-align: left;
}

#windowGrid {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.windowContent {
  width: 60vw;
  height: 75vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-radio {
  display: flex;
  margin-right: 20px;
  margin-top: 7px;
  align-items: center;
  padding: 8px 16px;
  width: 31vw;
}

input[type=radio] {
  position: absolute;
  margin-left: 28.5vw;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
}
input[type=radio]:checked + .radio-label {
  border: 1px solid green;
  font-weight: 600;
}

input[type=radio]:checked {
  border-radius: 5px;
  position: absolute;
}
input[type=radio]:checked:before {
  content: "✓";
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label {
  align-items: center;
  display: flex;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
  width: 30vw;
  height: 38px;
  font-size: 20px;
}
.radio-label:hover {
  background-color: #f2f2f2;
}

h2 {
  margin-bottom: 0;
}

.leftWindowContent {
  overflow-y: scroll;
  height: 75vh;
  width: 35vw;
  float: left;
}

.rightWindowContent {
  width: 25vw;
  float: right;
  margin: 0;
}
.rightWindowContent .productsText {
  font-size: 20px;
  text-align: center;
}

.winImg {
  text-align: center;
}
.winImg img {
  width: 28vh;
}

.btnContent {
  margin-top: 25%;
  text-align: center;
}

.cartBtn {
  align-items: center;
  background-color: #32a852;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.cartBtn:hover,
.cartBtn:focus {
  background-color: #1d612f;
  color: #ffffff;
}

.cartBtn:active {
  background: #09223b;
  color: rgba(255, 255, 255, 0.7);
}

.cartBtn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0;
}
.item p {
  margin: 0;
  padding: 0;
}
.item .name,
.item .restaurant,
.item .sauce,
.item .meat {
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

.total {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
