doctype HTML
html(lang='pl')
    head
        meta(charset='UTF-8')
        title Zamów jedzenie prosto do domu!
        link(rel="stylesheet",href="./css/style.css")
    body
        nav 
            div.divNav
                a(href="./restaurations") Restauracje
            div.divNav
                a(href="./about") O nas
            div.divNav
                a(href="./contact") Kontakt
            div.divNav
                a(href="./account") Konto
                
        header
           div Polecamy dzisiaj