doctype HTML
html(lang='pl')
    head
        meta(charset='UTF-8')
        title Zamów jedzenie prosto do domu!
        link(rel="stylesheet",href="./css/style.css")
        link(rel="stylesheet",href="./css/bootstrap.min.css")

    body
        nav.navbar.navbar-dark.bg-dark.fixed-top
            a.navbar-brand.text-white(href="./") Główna
            a.navbar-brand.text-white(href="./restaurations") Restauracje
            a.navbar-brand.text-white(href="./cart") Koszyk
            a.navbar-brand.text-white(href="./account") Konto
        header
            h2.text-center Polecamy
            .promotion-box
                if recommendations
                  h2.promotion-box__title #{recommendations.restaurationId}
                  p.promotion-box__slogan #{recommendations.slogan}
                  a.promotion-box__link(href=recommendations.link) Zamów teraz