doctype HTML
html(lang='pl')
    head
        meta(charset='UTF-8')
        title Obsługiwane restauracje przez nas!
        link(rel="stylesheet",href="./css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Marhey&display=swap",rel="stylesheet")
    body
        h1 Restauracje z dostawą
        div.sidenav
            h2 Filtry
            each filter in filters
                a(href='/filter?foodType=' + filter.name)
                    img.filterIcons(src="./images/icons/" + filter.icon)
                    = filter.visibleName
        div.foodGrid
            each val in restaurations
                a(href="/order?r=" + val._id)
                    div.foodContainer
                        img(src="./images/" + val.image, class='imgFormat')
                        div.overlay
                            div.centeredText
                                =val.name
                            div.adressText
                                = val.adress.city + ", ul. " + val.adress.street
            